services:
  db:
    image: postgres:16
    container_name: my_postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass123
    ports:
      - "5433:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    build:
      dockerfile: ./Dockerfile

    command: sh -c "ls && python3 -m src.main"

    depends_on:
      - db
      - ollama

    env_file:
      - .env

    volumes:
      - ./logs:/app/src/logs_dir

  ollama:
      image: ollama/ollama:latest
      ports:
        - "11434:11434"
      volumes:
        - ollama_data:/root/.ollama
      command: serve

volumes:
  ollama_data: